<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="dumpSettings" type="ServiceLogic.DumpToXml.DumpConfigSection, ServiceLogic"/>
  </configSections>
  <dumpSettings>
    <directories>
      <add path="C:\Users\Default\Documents\dump.xml"/>
    </directories>
  </dumpSettings>
</configuration>
